@import '../common.scss';

.products {
  @extend %list;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;

  &__item {
    @extend %margin-bottom-large;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100% / 3);
    padding: 15px;
    transition: $transition;

    &:hover {
      @extend %shadow;
    }
  }

  &__pic {
    margin: auto;
    padding: 12px 0;
  }

  &__img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }

  &__meta {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__name {
    font-weight: bold;
    font-size: 18px;
  }

  &__price {
    font-size: 20px;
    font-weight: bold;
    color: $green;
    margin-left: 40px;
  }
}