extends ../../pug/templates/common.pug
include ../../pug/mixins/product.pug
block variables
  - var title = "Catalog | Gallery"
block content
  include ./categories.pug
  include ./images.pug
  include ../../pug/blocks/pagination.pug