.filters.margin-bottom
  label.filters__label.margin-right(for="category") Category:
  select.filters__select(id="category")
    option(disabled selected).filters__option - Select category -
    option.filters__option - All -
    option.filters__option Lorem
    option.filters__option Ipsum
    option.filters__option Dolor
    option.filters__option Sit
    option.filters__option Amet