ul.gallery
  li.gallery__item
    img.gallery__img(src="https://via.placeholder.com/250x300/")
  li.gallery__item
    img.gallery__img(src="https://via.placeholder.com/300x300/")
  li.gallery__item
    img.gallery__img(src="https://via.placeholder.com/210x400/")
  li.gallery__item
    img.gallery__img(src="https://via.placeholder.com/430x200/")
  li.gallery__item
    img.gallery__img(src="https://via.placeholder.com/300x320/")
  li.gallery__item
    img.gallery__img(src="https://via.placeholder.com/280x360/")
  li.gallery__item
    img.gallery__img(src="https://via.placeholder.com/300x400/")