@import './variables.scss';

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Open Sans';
  line-height: 1.42;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  border-bottom: 4px solid $yellow;
  margin-top: 0;
}

a {
  color: black;
  font-weight: bold;
  transition: $transition;

  &:hover {
    color: rgba(black, .5);
    text-decoration: none;
  }
}

select,
input,
textarea {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid rgba(black, .1);
  border-radius: $borderRadius;
  transition: $transition;

  &:focus {
    outline: none;
    border-color: rgba(black, .2);
  }
}

label {
  color: lighten(black, 35);
  font-weight: bold;
  display: block;
}

p {
  margin: 0 0 20px;
}

form {
  max-width: 500px;
  margin: 0 auto;
}

button,
.button {
  background: black;
  color: $yellow;
  padding: 10px 20px;
  min-width: 150px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: $transition;
  border-radius: $borderRadius;

  &:hover {
    background: rgba(black, .75);
  }
}