extends ../../pug/templates/common.pug
include ../../pug/mixins/product.pug
block variables
  - var title = "Catalog"
block content
  include ./filters.pug
  include ./products.pug
  include ../../pug/blocks/pagination.pug