ul.products
  +product('Acer Swift 5 SF514-51-7419', 25999, '../../images/acer-swift-5.jpg')
  +product('Apple New Macbook Air MREC2RU/A Silver', 52999, '../../images/mba-pfopen-slvr.jpg')
  +product('Lenovo IdeaPad 320-15ISK (80XH01VRRA) Platinum Grey', 14599, '../../images/lenovo-ideapad-320.jpg')
  +product('Acer Nitro 5 AN515-42-R2VK (NH.Q3REU.009) Black', 22399, '../../images/acer-nitro-5.jpg')
  +product('HP 15-bw636ur (2WH69EA) Black', 10999, '../../images/hp-15.jpg')