mixin product(name, price, imgUrl)
  li.products__item
    .products__pic
      img.products__img(src=imgUrl alt=name)
    .products__meta
      .products__name #{name}
      .products__price #{price}